/*====================[Poppins]====================*/
@font-face{
  font-family:'Poppins-Regular';
  src:url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Poppins-Medium';
  src:url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Poppins-SemiBold';
  src:url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}