.pod-name1{
  font-family:'Poppins-Medium';
  color: #021d3d;
  font-size: 14px;
  & + small{
    color: #7e8190;
    font-size: 12px;
  }
}
.pod-customer{
  .owl-nav{
    text-align: left;
    margin-top: 30px;
    button{
      &:hover,
      &:focus{
        outline: none;
        background: transparent !important;
      }
      span{
        display: none;
      }
      &.disabled{
        opacity: 1;
        &:before{
          content: '';
          background-image: url("../imgs/prev.png");
          width: 16px;
          height: 16px;
          display: inline-block;
        }
      }
      &.owl-next{
        &:before{
          content: '';
          background-image: url("../imgs/next.png");
          width: 32px;
          height: 16px;
          display: inline-block;
        }
        &.disabled{
          &:before{
            content: '';
            background-image: url("../imgs/prev.png");
            width: 16px;
            height: 16px;
            display: inline-block;
            transform: rotate(180deg);
          }
        }
      }
      &.owl-prev{
        &:before{
          content: '';
          background-image: url("../imgs/next.png");
          width: 32px;
          height: 16px;
          display: inline-block;
          transform: rotate(180deg);
        }
        &.disabled{
          &:before{
            content: '';
            background-image: url("../imgs/prev.png");
            width: 16px;
            height: 16px;
            display: inline-block;
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}
.pod-desc1{
  color: #021d3d;
  font-size: 15px;
  line-height: 1.8;
  font-family:'Poppins-LightItalic';
}
#pod-block-customer{
  background-color: #f2f7f8;
}
.pod-btn1{
  background-color: #2dd47c;
  border-radius: 4px;
  text-transform: inherit;
  color: #FFFFFF;
  font-size: 13px;
}
.pod-img1{
  border: 1px solid #b6c3cc;
  text-align: center;
  border-radius: 6px;
  padding: 30px 0;
  img{
    max-height: 257px;
  }
}
.pod-txt1{
  font-family:'Poppins-Medium';
  h6{
    margin: 0;
    a{
      color: #021d3d;
    }
  }
  p{
    margin: 0;
    color: #2dd47c;
  }
}
.pod-install{
  text-transform: inherit;
  border-radius: 4px;
  background-color: #022456;
  font-family:'Poppins-SemiBold';
  font-size: 13px;
}
.pod-desc{
  line-height: 1.8;
  #pod-block-getapp &{
    color: #FFFFFF !important;
  }
}
.pod-box-img{
  border: 13px solid #FFFFFF;
  border-radius: 16px;
  @media(min-width: 960px){
    margin-bottom: -120px !important;
  }
}
.pod-block-header{
  span{
    color: #715be4;
    font-family:'Poppins-Medium';
  }
  h2{
    margin: 0 !important;
    margin-top: 2px !important;
    font-size: 35px;
    font-family:'Poppins-SemiBold';
    color: #021d3d;
    #pod-block-getapp &{
      color: #FFFFFF !important;
    }
  }
}